@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

a:hover, h1:hover {
  color: #c7b198;
  transition: 0.3s;
}

body {
	font-family: 'Goudy Bookletter 1911', serif;
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding-top: 10px;
}

#sketchContainer {
	display: flex;
	flex-flow: column;

	width: 80vw;
	height: 60vh;

	overflow: visible;
}​

canvas {
	z-index: -3;
    width: 100%;
	height: 100%;
}